.background-image {
  position: absolute;
  width: 100%;
  background-size: 100%;
  object-fit: cover;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .background-image {
    object-fit: cover;
  }
}
